<h1><%= @flat.name %></h1>
<h2><%= @flat.address %></h2>
<p><%= @flat.description %></p>
<h2><%= @flat.stars %></h2>
<h2><%= @flat.price %></h2>
<br>
<%= link_to "EDIT", edit_flat_path(@flat) %>
<br>
<%= link_to "DELETE", flat_path(@flat), method: :delete, data: { confirm: "are you sure ?" } %>
<br>
<%= link_to "RETOUR INDEX", flats_path %>
